
/*----------------------------------------*/
/* Custom CSS
/*----------------------------------------*/

.spad {
	padding: 1.5rem 0 !important;
}

.above-the-fold {
	max-width: 400px;
    text-align: center;
    margin: 0 auto;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.above-the-fold > .title {
	display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
	width: 100%;
}

.above-the-fold > .title > div, .above-the-fold > .social-links > div {
	height: 2px;
    background: #dc8d00;
    flex: 1;
 }

h2 {
    font-size: 2.5rem;
}

.above-the-fold > .title > h2 {
	margin: 10px;
    text-transform: uppercase;
    font-size: 2.5rem;
 }

.above-the-fold > .description {
	font-size: 1.2rem;
}

.above-the-fold > .description-2 {
	margin-top: 1.5rem;
	font-size: 1.2rem;
}

.above-the-fold > img {
	width: 250px;
 }

.above-the-fold .social-links {
	display: flex;
    justify-content: center;
	width: 100%;
    align-items: center;
    margin-bottom: 3rem;
 }

.above-the-fold .social-links a {
	color: #484848;
	font-size: 26px;
    margin: 0.5rem;
    border: 2px solid #4848482e;
    border-top: 0px;
    border-bottom: 0px;
	padding: 0 1rem;
}

.above-the-fold .social-links a:first-child {
	margin-right: 0px;
	border-right: 0px;
}

.above-the-fold .social-links a:last-child {
	margin-left: 0px;
}

 @media only screen and (max-width: 500px) {
	.above-the-fold > .title > h2 {
		font-size: 2rem;
	 }
}

/* section generics */


.section-title {
    display: flex;
}

.section-title h2 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 2px;
    line-height: normal;
    color: #dc8d00;
    margin-top: -43px;
    padding: 0 10px;

}

.section-title h2:after{
    display: none;
}

.with-bg.blue .section-title h2 {
    color: #464687;
}

.with-bg.blue .section-title h2:after {
    background: #464687;
}

.with-bg.green .section-title h2 {
    color: #009688;
}

.with-bg.green .section-title h2:after {
    background: #009688;
}

.section-title h2:after {
    background: #dc8d00;
}

.section-body {
    margin-bottom: 2rem;
}

.with-bg.orange {
    background-image: url(../img/bg-orange.png);
}

.with-bg.blue {
    background-image: url(../img/bg-blue.png);
}

.with-bg.green {
    background-image: url(../img/bg-green.png);
}

.hero-section {
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .section-title {
        justify-content: center;
        margin-left: 0px;
    }
    .section-body *:not([class^="owl-"]) {
        text-align: center;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title > div {
        flex: 1;
     }
}

.section-title > div {
    height: 2px;
    background: #dc8d00;
    margin-top: -24px;
 }
 .section-title > div:last-child {
    flex: 1
 }
 .section-title > div:first-child {
    width: 60px
 }
 section.spad.blue .section-title > div {
    background: #464687;
}

section.spad.green .section-title > div {
    background: #009688;
}

/* resume list*/

.resume-list h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.resume-list li:after {
    width: 25px;
    height: 25px;
    left: -123px;
}

.resume-list li {
    margin-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
    .resume-list {
        position: relative;
    }
    .resume-list li:after {
        display: none;
    }
    .resume-list li {
        padding: 2rem;
        /* border: 2px solid #d4d8d9; */
        /* border-radius: 14px; */
        /* background: white; */
    }
    /* .timeline {
        position: absolute;
        background: #d4d8d9;
        width: 2px;
        height: 100%;
        left: 50%;
        top: 0px;
    } */
}

.review-slider {
    padding-bottom: 2rem;
}